<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lundong.metabitorgsync.mapper.DepartmentMapper">
	<insert id="insertBatch">
		INSERT INTO department
		    (`name`, feishu_dept_id, feishu_parent_id, kingdee_dept_id, kingdee_parent_id, number)
		VALUES
		<foreach collection="departments" item="item" separator=",">
			(#{item.name}, #{item.feishuDeptId}, #{item.feishuParentId}, #{item.kingdeeDeptId}, #{item.kingdeeParentId}, #{item.number})
		</foreach>
	</insert>
</mapper>